<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.mapper.OrderMatchMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zw.entity.OrderMatch">
		<id column="id" property="id" />
		<result column="company_id" property="companyId" />
		<result column="address" property="address" />
		<result column="order_id" property="orderId" />
		<result column="longitude" property="longitude" />
		<result column="latitude" property="latitude" />
		<result column="encrypt" property="encrypt" />
		<result column="license_id" property="licenseId" />
		<result column="driver_phone" property="driverPhone" />
		<result column="vehicle_no" property="vehicleNo" />
		<result column="distribute_time" property="distributeTime" />
		<result column="reserved" property="reserved" />
	</resultMap>

</mapper>
