<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.mapper.OrderCancelMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.zw.entity.OrderCancel">
		<id column="id" property="id" />
		<result column="company_id" property="companyId" />
		<result column="address" property="address" />
		<result column="order_id" property="orderId" />
		<result column="order_time" property="orderTime" />
		<result column="cancel_time" property="cancelTime" />
		<result column="operator" property="operator" />
		<result column="cancel_type_code" property="cancelTypeCode" />
		<result column="cancel_reason" property="cancelReason" />
		<result column="reserved" property="reserved" />
	</resultMap>

</mapper>
